<form name="newSolicitudForm">

    <mat-toolbar class="mat-dialog-sz-lg">
        <div class="mat-toolbar-tools" style="width: 98%;">
            <span class="" style="white-space: normal;">
                <fa-icon [icon]="faFilePdf"></fa-icon>&nbsp;&nbsp;Comentarios del Automovil:
            </span>
        </div>
        <button mat-mini-fab mat-dialog-close class="bg-color-app md-icon-button" style="background-color: #2C3E50; border-style: solid; border-width: thin; border-color: rgb(255 255 255 / 30%);" aria-label="Cerrar" access="ROLE_ADMIN, ROLE_SUPERADMIN" matTooltip="Cerrar">
            <fa-icon class="fa color-app close-icon" [icon]="faTimes" style="color:#FFFFFF;"></fa-icon>
        </button>
    </mat-toolbar>

    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="DATOS GENERALES" md-on-select="ctrl.tabActive='Datos Generales'">
                <app-general-comentario-catalogo></app-general-comentario-catalogo>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>

    <mat-dialog-actions layout="row" style="border-top: 1px solid #ddd;">
        <div class="col-md-12">
            <div class="row">
        
                <div class="col-md-3">
                    <div class="form-group fg-asset">
                        <label class="txt-default-color form-label-asset txt-fz-12">Comentario <span class="txt-color-red">*</span>
                        </label> <input class="form-control form-line" name="marcaAutomovil" type="text" [(ngModel)]="comentarioTuyo.descripcion" #numerChasisAutomovil="ngModel" minlength="3" maxlength="200" required>
                    </div>
                    <div *ngIf="(numerChasisAutomovil.invalid && (numerChasisAutomovil.dirty || numerChasisAutomovil.touched)) ||(numerChasisAutomovil.errors?.['minlength']) || (numerChasisAutomovil.errors?.['maxlength'])">
                        <div class="error-message">
                            <fa-icon class="fa red" [icon]="faWarning"></fa-icon>&nbsp;&nbsp;Campo obligatorio (min.3, m&aacute;x 200 carac.)
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row button-section">
                <div class="col-md-1" style="left:80%">
                    <span flex></span>
                    <button type="button" class="btn btn-app fs-12" (click)="saveComentario()" style="margin-right: 27px;margin-top:15%">
		                <fa-icon [icon]="faFloppy"></fa-icon>&nbsp;&nbsp;Guardar
	                </button>
                </div>
            </div>
        </div>
    </mat-dialog-actions>
</form>
