<br>
<mat-expansion-panel hideToggle class="expansion">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtros
    </mat-panel-title>
  </mat-expansion-panel-header>

    <br>
    
    <div class="row">
      <div class="col-md-6">
        <label class="txt-default-color form-label-asset txt-fz-12">Fecha de Inicio de la Reserva</label>
        <mat-form-field class="example-full-width">
          <mat-label>Elige una fecha</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="pickerInicio" [(ngModel)]="reservaFilterInicio"  >
          <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
      </div> 
      <div class="col-md-6">
        <label class="txt-default-color form-label-asset txt-fz-12">Fecha de Final de la Reserva</label>
        <mat-form-field class="example-full-width">
          <mat-label>Elige una fecha</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="pickerFin" [(ngModel)]="reservaFilterFin">
          <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-12 botonesFiltros">
        <button mat-flat-button color="primary" (click)="onContextFiltrarClick()"><mat-icon>edit</mat-icon>Filtrar</button>
        <button mat-flat-button color="warn" (click)="clearFilters()"><mat-icon>delete</mat-icon> Limpiar</button>
      </div>
    </div>
</mat-expansion-panel>

<br>
<div class="card-container">
  <mat-card class="example-card" *ngFor="let reserva of reservas">
    <mat-card-header>
      <div class="user-datos">
        <mat-card-title>Reserva -> {{ reserva.id }} </mat-card-title>
        <mat-card-subtitle>Fecha Inicio ->{{ reserva.fechaInicio }}    <br>  Fecha Fin -> {{ reserva.fechaFin }}</mat-card-subtitle>
        <mat-card-subtitle> Cliente -> {{ reserva.clienteId }}    <br>   Automovil -> {{ reserva.automovilId }}   
        </mat-card-subtitle>
        <mat-card-title>Coste -> {{ reserva.costo }}$ </mat-card-title>
      </div>
      <div class="botones">
        <button mat-flat-button color="primary" (click)="onContextModificarClick(reserva)"><mat-icon>edit</mat-icon>Modificar</button><br><br>
        <button mat-flat-button color="warn" (click)="openDialog(reserva.id,'0ms', '0ms')"><mat-icon>delete</mat-icon> Borrar</button>
      </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>


