<ion-content >
  <div class="container ion-padding">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    
    <div class="ion-padding contenedor-hijo ion-text-center">
      <img class="imagen" src="assets/aboutus.jpg" alt="Logo de Jorge Sánchez Berrocoso">
    </div>
    
    <div class="ion-text-center ion-padding texto">
      <h1> <strong>¿Quiénes somos?</strong></h1>
      <p>En un mundo en constante evolución, la industria del viaje ha experimentado transformaciones revolucionarias, y la tecnología ha sido su principal aliada. Soy <strong>Jorge Sánchez Berrocoso</strong>, un joven de 20 años con una visión moderna para el alquiler de automóviles en línea.</p>
    </div>
    <div class="card">

    
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"><strong>Aplicación de Alquiler de Automóviles</strong></ion-card-title>
      </ion-card-header>

      <ion-card-content> <strong>
        Tras años de formación y aprendizaje, he desarrollado una aplicación web para el alquiler de vehículos, centrada en ofrecer una experiencia intuitiva y eficiente a los usuarios. Mi objetivo es adaptar y transformar el proceso tradicional de alquiler, haciéndolo más accesible y cómodo para todos. Mi proyecto de fin de grado es el comienzo de un viaje que busca innovar en este sector y establecer nuevos estándares de calidad y servicio.
      
      </strong>
      </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>

