.imagen {
    height: 100%;  
    width: 75%;   
}

.container{
    height: 100%;
}

.contenedor-hijo{
    height: 30%;
}

.texto{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}