.container{
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('../../../assets/fondoCoche.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.element-father{
  width: 20%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
  margin-bottom: auto;
  
}

.elements{
  background-color: white;
  border-radius: 30px;
}

.form-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.form-column {
  flex: 1; 
  margin-right: 10px; 
  min-width: 45%;
}

.form-column:last-child {
  margin-right: 0;
}


