<ion-content>
  <div class="container">
    <div class="element-father">
      <div class="elements">
        <div class="ion-padding ion-text-center">
          <img src="assets/icon/logo.png" alt="Logo">
        </div>
        <div class="ion-padding form-grid">
          <div class="form-column">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input [(ngModel)]="nombre" type="nombre"></ion-input>
            </ion-item>
           
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input [(ngModel)]="email" type="email"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
            
          </div>
          <div class="form-column">
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input [(ngModel)]="username" type="username"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="stacked">Descripcion</ion-label>
              <ion-input [(ngModel)]="description" type="description"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="stacked">Confirm Password</ion-label>
              <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
            </ion-item>
          </div>
        </div>
        <ion-button class="ion-button-center ion-padding" color="warning" shape="round" expand="block" (click)="register()">REGISTER</ion-button>
      </div>
    </div>
  </div>
</ion-content>


