.card-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: dark;
  }
  
  
  
  .expansion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 236, 238);  
    border-radius: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .example-card {
    width: auto; 
    max-width: 90%; 
    margin-bottom: 20px;
    text-align: right; 
    width: 100%;
    border-radius: 15px;
  }
  
  .form-control.form-line {
    background-color: white; 
  }
  
  .user-image {
  text-align: left;
  margin-right: 2%;
  
  }
  .user-datos {
    text-align: left;
  }
  .botones{
    margin-left: auto;
    text-align: right;
  }
  .botonesFiltros{
    margin: 15px;
    text-align: center;
  }
  .example-card img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
  }
  
  
  .example-button-container {
    position: relative;
  }
  .modificar{
    border-radius: 5px;
  }
  
  .add-button {
    top: 0;
    right: 0;
    margin-left: 90%;
    margin-top:   1%;
    margin-bottom: 1%;
    background-color: blue;
  
  }
  
  
  