.toolbar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

  }
  
  .example-full-width {
    flex: 1;
    min-width: 100px;
    margin: 8px; 
  }
  
  @media (max-width: 600px) {
    .toolbar-content {
      flex-direction: column;
    }
  
    .example-full-width {
      width: 100%;
      min-width: 0;
      margin: 4px 0;
    }
  }

  .colocar{
    height: 70px;
  }

  .toolbar2{
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 32, 172);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  button {
    flex: 1;
    margin: 3px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: dark;
  }
  
  
  
  .expansion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 236, 238);  
    border-radius: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: 5%;
    width: 100%;
  }
  
  .example-card {
    width: auto; 
    max-width: 90%; 
    margin-bottom: 20px; 
    text-align: right; 
    width: 100%;
    border-radius: 15px;
  }
  
  .form-control.form-line {
    background-color: white; 
  }
  
  .user-image {
  text-align: left;
  margin-right: 2%;
  
  }
  .user-datos {
    text-align: left;
  }
  .botones{
    margin-left: auto;
    text-align: right;
  }
  .botonesFiltros{
    margin: 15px;
    text-align: center;
  }
  .example-card img {
    width: 400px; 
    height: 200px; 
    object-fit: cover; 
  }
  
  
  .example-button-container {
    position: relative;
  }
  .modificar{
    border-radius: 5px;
  }
  
  .add-button {
    top: 0;
    right: 0;
    margin-left: 90%;
    margin-top:   1%;
    margin-bottom: 1%;
    background-color: blue;
  
  }
  

  .main-container {
    display: flex;
  }

 .expansion2{
    width: 22%;
 }
  
  .card-container {
    flex-grow: 1;
    width: 50%;
  }

 #map {
    margin-left: 5%;
    height: 380px;
 }

 .label{
  font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 26%;
 }
  
  
 
