.toolbar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

  }
  
  .example-full-width {
    flex: 1;
    min-width: 100px; /* Adjust the min-width as needed */
    margin: 8px; /* Provides spacing between form fields */
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .toolbar-content {
      flex-direction: column;
    }
  
    .example-full-width {
      width: 100%;
      min-width: 0;
      margin: 4px 0; /* Adjust spacing for smaller devices */
    }
  }

  .colocar{
    height: 70px;
  }

  .toolbar2{
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 32, 172);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  button {
    flex: 1;
    margin: 3px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* esto alinea al centro los elementos hijos, si quieres que las tarjetas ocupen todo el ancho, puedes remover esta línea */
    justify-content: center;
    background-color: dark;
  }
  
  
  
  .expansion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(235, 236, 238);  
    border-radius: 10px;
    width: 70%;
    margin-right: auto;
    margin-left: 5%;
    width: 100%;
  }
  
  .example-card {
    width: auto; /* Esto hará que la tarjeta se extienda según el contenido */
    max-width: 90%; /* ajusta al ancho deseado, por ejemplo, el 90% del contenedor padre */
    margin-bottom: 20px; /* espacio entre cartas */
    /* Alinea el contenido de la tarjeta (incluida la imagen) a la derecha */
    text-align: right; 
    width: 100%;
    border-radius: 15px;
  }
  
  .form-control.form-line {
    background-color: white; /* Esto establece el color de fondo a blanco */
  }
  
  .user-image {
  text-align: left;
  margin-right: 2%;
  
  }
  .user-datos {
    text-align: left;
  }
  .botones{
    margin-left: auto;
    text-align: right;
  }
  .botonesFiltros{
    margin: 15px;
    text-align: center;
  }
  .example-card img {
    width: 400px; 
    height: 200px; 
    object-fit: cover; 
  }
  
  
  .example-button-container {
    position: relative;
  }
  .modificar{
    border-radius: 5px;
  }
  
  .add-button {
    top: 0;
    right: 0;
    margin-left: 90%;
    margin-top:   1%;
    margin-bottom: 1%;
    background-color: blue;
  
  }
  

  .main-container {
    display: flex;
  }

 .expansion2{
    width: 22%;
 }
  
  .card-container {
    flex-grow: 1; /* Ocupa el espacio restante */
    /* Estilos adicionales para el contenedor de tarjetas si es necesario */
    width: 50%;
  }

 #map {
    margin-left: 5%;
    height: 380px;
 }
  
  
 
