<br>
<div class="toolbar">
<mat-toolbar color="primary" class="toolbar2">
    <div class="colocar">
    <span class="toolbar-content">
        
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Selecciona un Tipo de Automovil</mat-label>
        <mat-select [(ngModel)]="catalogoDto.tipoAutomovil">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo">
            {{ tipo }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Elige una fecha</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="pickerInicio" [(ngModel)]="reservaFilterInicio"  >
        <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Elige una fecha</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="pickerFin" [(ngModel)]="reservaFilterFin">
        <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
        <mat-datepicker #pickerFin></mat-datepicker>
      </mat-form-field>
  
   
  
      <button mat-raised-button color="warn" (click)="buscar()">Search</button>
    </span>
</div>
  </mat-toolbar>
</div>
<br>
<label class="label">{{titulo}}</label>
<br>
<br>
<div class="main-container">

    <div class="expansion2">
    <mat-expansion-panel hideToggle class="expansion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtros
          </mat-panel-title>
        </mat-expansion-panel-header>
      
          <br>
          <div class="col-md-3">
          <label class="txt-default-color form-label-asset txt-fz-12">Marca </label>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Selecciona una Marca</mat-label>
            <mat-select [(ngModel)]="catalogoDto.marca">
              <mat-option *ngFor="let tipo of marcas" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div> 
        <div class="col-md-3">
          <label class="txt-default-color form-label-asset txt-fz-12">Color </label>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Selecciona un Color</mat-label>
            <mat-select [(ngModel)]="catalogoDto.color">
              <mat-option *ngFor="let tipo of colores" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div> 

        <div class="col-md-3">
          <label class="txt-default-color form-label-asset txt-fz-12">Capacidad </label>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Selecciona una Capacidad</mat-label>
            <mat-select [(ngModel)]="catalogoDto.capacidad">
              <mat-option *ngFor="let tipo of capacidades" [value]="tipo">
                {{ tipo }}
              </mat-option>
            </mat-select>
          </mat-form-field>        
        </div> 
          
        <div class="botonesFiltros">
          <button mat-flat-button color="primary" (click)="onContextFiltrarClick()"><mat-icon>edit</mat-icon>Filtrar</button>
          <button mat-flat-button color="warn" (click)="clearFilters()" ><mat-icon>delete</mat-icon> Limpiar</button><br><br>
        </div>
      </mat-expansion-panel>
      <br>

      <div id="map">

      </div>
     
    </div> 
        

<div class="card-container">
    <mat-card class="example-card" *ngFor="let automovil of automoviles">
      <mat-card-header>
        <div class="user-image">
          <img mat-card-lg-image [src]="automovil.image ? automovil.image : 'assets/img/perfil2.png'" alt="{{automovil.marca}}">
        </div>
        <div class="user-datos">
          <mat-card-title>{{ automovil.marca }} </mat-card-title>
          <mat-card-subtitle>{{ automovil.modelo }}    <br>   {{ automovil.color }}   
          </mat-card-subtitle>
        </div>
        <div class="botones">
          <button mat-flat-button color="primary"><mat-icon>bookmark</mat-icon>Reservar</button><br><br>
          <button mat-flat-button color="warn" ><mat-icon>chat_bubble</mat-icon> Comentarios</button>
        </div>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>
  