.imagen {
    height: 100%;  /* Ajusta este valor según tus necesidades */
    width: 75%;    /* Esto es para mantener las proporciones de la imagen */
}

.container{
    height: 100%;
}

.contenedor-hijo{
    height: 30%;
}

.texto{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}