<ion-content >
  <div class="container">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <div class="ion-padding contenedor-hijo ion-text-center">
      <img class="imagen" src="assets/contactus.jpg" alt="Logo de Automóviles Sánchez Berrocoso S.A.">
    </div>
    
    <div class="ion-text-center ion-padding texto">
      <h1><strong>CONTACTANOS</strong></h1>
      <p>Automóviles Sánchez Berrocoso S.A. y sus filiales o las filiales de la sociedad matriz Grupo Automovilístico JSB S.L. que gestionamos (en su conjunto "AutoSB", "nosotros" o "nuestro") ofrecen servicios en numerosos países. Nuestra Política de privacidad se aplica a los visitantes y usuarios de las webs, las aplicaciones, las redes sociales y otros servicios de AutoSB (tales como AutoSB, CarRent, FastRent, EcoDrive, CityRide y AutoSearch). Tal y como establece nuestra política de privacidad, AutoSB actúa como responsable del tratamiento de datos de cierta información personal de los usuarios de las webs de AutoSB.</p>
    </div>
    
    <div class="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center"><strong>Direcciones y Responsabilidades</strong></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Cuando actuamos como responsable del tratamiento de datos, el organismo concreto que es responsable del tratamiento y el proveedor de servicio dependen de la web que visites y, si se especifica, de dónde residas, tal y como se establece a continuación:</p>
          <ul>
            <li>Si resides en América del Norte, América del Sur o la región Asia-Pacífico y visitas "AutoSB", o si, independientemente de dónde residas, visitas "CarRent": Automóviles Sánchez Berrocoso USA Inc., 1234 Calle Principal, Los Ángeles, CA 90001, USA.</li>
            <li>Si resides en Europa, Oriente Medio o África y visitas "AutoSB", o si, independientemente de donde residas, visitas "EcoDrive" o "CityRide": Automóviles Sánchez Berrocoso Europa GmbH, Calle Ficticia 56, 28001 Madrid, España.</li>
            <li>Si visitas "FastRent": FastRent A/S, Calle Rápida 78, 46001 Valencia, España.</li>
            <li>Si visitas "AutoSearch": AutoSearch Pty Ltd, Suite 1, Level 1, Calle Busqueda 12, Barcelona 08001, España.</li>
          </ul>
          <p>Si resides en la Unión Europea y tu proveedor de servicios está ubicado fuera de la Unión Europea, nuestro representante en la Unión Europea es:</p>
          <p>FastRent A/S<br>
          Calle Rápida 78<br>
          46001 Valencia<br>
          España</p>
          <p>Cada una de las entidades mencionadas anteriormente es una subsidiaria de Automóviles Sánchez Berrocoso S.A., una compañía registrada en España o una subsidiaria de nuestra compañía matriz Grupo Automovilístico JSB S.L. que administramos, y toda la información sobre ti que dicha subsidiaria recopile será utilizada conjuntamente con Automóviles Sánchez Berrocoso S.A. para los fines descritos en la Política de Privacidad, o compartida contigo en nuestras webs, o de otra manera en relación con nuestros servicios. El controlador de datos mencionado es responsable de la administración de dicha información personal sujeta a dicho uso conjunto por parte de Automóviles Sánchez Berrocoso S.A. (por ejemplo, aceptando y respondiendo a solicitudes de comunicación y reclamaciones).</p>
        </ion-card-content>
      </ion-card>
    </div>
    <button (click)="aboutus()"> envo</button>
  </div>


</ion-content>
