<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="example-toolbar" *ngIf="isNavbarVisible">
    <button mat-icon-button (click)="snav.toggle()" ><mat-icon  [style.color]="'white'">menu</mat-icon></button>
    <a class="navbar-brand-icon nb-logo" [routerLink]="['login']" routerLinkActive="active" style="cursor:auto;">
      <img alt="Brand" height="50" src="../../../assets/img/logo.png" class="p-0">
    </a>
    <!-- Este div vacío actúa como un espacio para centrar el logo. -->
    <div></div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['login']">
          <mat-icon>home</mat-icon>
          Iniciar sesion
        </a>
        <a mat-list-item [routerLink]="'automovil'">
          <mat-icon>home</mat-icon>
          Catalogo
        </a>
        <a mat-list-item [routerLink]="'perfil'">
          <mat-icon>account_circle</mat-icon>
          Mi Perfil
        </a>
        <a mat-list-item [routerLink]="'misreservas'">
          <mat-icon>account_circle</mat-icon>
          Mis Reservas
        </a>
        <a mat-list-item [routerLink]="'misvaloraciones'">
          <mat-icon>account_circle</mat-icon>
          Mis Valoraciones
        </a>
        <a mat-list-item [routerLink]="'usuarios'" *ngIf="isAdminVisible">
          <mat-icon>group</mat-icon>
          Usuarios
        </a>
        <a mat-list-item [routerLink]="'automovil'" *ngIf="isAdminVisible">
          <mat-icon>directions_car</mat-icon>
          Automoviles
        </a>
        <a mat-list-item [routerLink]="'comentarios'" *ngIf="isAdminVisible">
          <mat-icon>directions_car</mat-icon>
          Comentarios
        </a>
        <a mat-list-item [routerLink]="'reservas'" *ngIf="isAdminVisible">
          <mat-icon>group</mat-icon>
          Reservas
        </a>
        <a mat-list-item [routerLink]="">
          <mat-icon>perm_contact_calendar</mat-icon>
          Contacto
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

