.container-fluid{
    background-size: cover;
    height: 100vh;
    
}
#loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/fondo.png');

}

#registroContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/img/fondo.png');

}
 .login-box {
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .registro-box {
    background-color: rgb(255, 255, 255);
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    color: #000000;
    font-size: 24px;
  }
  
  .alert {
    text-align: left;
  }
  
  mat-form-field {
    border-radius: 10px;
    width: 100%;
  }
  
  input[type="text"],
  input[type="password"] {
    border: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
  }
  

  
  .btn-custom {
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #0056b3; 
}







  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
