<ion-app>
    <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>TU ESPACIO PERSONAL</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content class="ion-padding">
          <ion-list lines="none">
            <ion-menu-toggle>
              <ion-item class="nav-link active" routerLink="/catalogo">
                <ion-icon color="dark" slot="start" name="home"></ion-icon>
                Catalogo
              </ion-item>
              <ion-item routerLink="/miperfil">
                <ion-icon color="dark" slot="start" name="person-circle"></ion-icon>
                Mi Perfil
              </ion-item>
              <ion-item routerLink="/misreservas" >
                <ion-icon slot="start" color="dark" name="calendar"></ion-icon>
                Mis Reservas
              </ion-item>
              <ion-item routerLink="/ofertas">
                <ion-icon color="dark" slot="start" name="pricetag"></ion-icon>
                Ofertas
              </ion-item>
              <ion-item routerLink="/contacto">
                <ion-icon color="dark" slot="start" name="call"></ion-icon>
                Contacto
              </ion-item>
              <ion-item  routerLink="/aboutus" >
                <ion-icon color="dark" slot="start" name="information-circle"></ion-icon>
                About us
              </ion-item>
              <ion-item routerLink="logout">
                <ion-icon color="dark" slot="start" name="log-out"></ion-icon>
                Log out
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
      
      
<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
