<ion-content>
  <form autocomplete="off" (ngSubmit)="login()" novalidate>
    <ion-item [class.invalid]="!isFormValid" lines="none">
      <ion-label position="stacked">Username</ion-label>
      <ion-input
        [(ngModel)]="username"
        type="text"
        name="username"
        (input)="validarFormulario()"
        required
      ></ion-input>
    </ion-item>
    <ion-item color="password" [class.invalid]="!isFormValid" lines="none">
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        type="password"
        name="password"
        (input)="validarFormulario()"
        required
      ></ion-input>
    </ion-item>
    <div class="ion-button-center ion-padding">
      <ion-button
        expand="full"
        size="default"
        color="success"
        shape="round"
        [disabled]="!isFormValid"
        (click)="login()"
      >
        LOGIN
      </ion-button>
      <br />
      <ion-button
        expand="full"
        size="default"
        color="warning"
        shape="round"
        (click)="register()"
      >
        REGISTER
      </ion-button>
    </div>
  </form>
</ion-content>
