.container{
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('../../../assets/fondoCoche.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}



.element-father{
  width: 20%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
  margin-bottom: auto;
  
}

.elements{
  background-color: white;
  border-radius: 30px;
}



  



  